{% extends "layouts/base.njk" %}

{% block head %}
<title>about</title>
{% endblock %}

{% block content %}
<div class="content">
    <div class="block">
        <h1>About</h1>
    </div>

    <div class="block">
        <h2>興味</h2>
        <div>
            <ul>
                <li>低レイヤが好き</li>
                <li>CTF(revとpwn)</li>
            </ul>
        </div>
    </div>

    <div class="block">
        <h2>使ったことがある言語</h2>
        <ul>
            <li>JavaScritpt(業務でjQueryとフレームワークなしでの開発)</li>
            <li>PHP(業務でLaravelとフレームワークなしでの開発)</li>
            <li>Rust</li>
            <li>Scala</li>
            <li>C(CTF用)</li>
            <li>Python(CTFと競プロ用)</li>
            <li>Haskell(競プロ用)</li>
        </ul>
    </div>

    <div class="block">
        <h2>資格等</h2>
        <ul>
            <li>基本情報技術者試験</li>
            <li>AtCoder茶</li>
            <li>実用英語技能検定(英検)準1級</li>
        </ul>
    </div>

    <div class="block">
        <h2>アカウント</h2>
        <ul>
            <li><a href="https://github.com/jueve" target="_blank" rel="noreferrer">GitHub</a></li>
            <li><a href="https://tryhackme.com/p/cashitsuki" target="_blank" rel="noreferrer">TryHackMe</a></li>
            <li><a href="https://atcoder.jp/users/cashitsuki" target="_blank"  rel="noreferrer">AtCoder</a></li>
        </ul>
    </div>
</div>
{% endblock %}